# DSC 540 Week 11-12

In [2]:
import pandas as pd
import numpy as np
import sqlite3

In [3]:
#create connection to petsdb database
conn = sqlite3.connect("petsdb")

In [4]:
#create function to check connection
def check_conn(conn):
    try:
        conn.cursor()
        return True
    except Exception as e:
        return False

print(check_conn(conn))

True

In [5]:
#create cursor and find the different age groups in persons database
cursor = conn.cursor() 
for people, age in cursor.execute("SELECT count(*), age FROM persons GROUP BY age"):
    print("Age:", age,"Count -", people)

Age: 5 Count - 2
Age: 6 Count - 1
Age: 7 Count - 1
Age: 8 Count - 3
Age: 9 Count - 1
Age: 11 Count - 2
Age: 12 Count - 3
Age: 13 Count - 1
Age: 14 Count - 4
Age: 16 Count - 2
Age: 17 Count - 2
Age: 18 Count - 3
Age: 19 Count - 1
Age: 22 Count - 3
Age: 23 Count - 2
Age: 24 Count - 3
Age: 25 Count - 2
Age: 27 Count - 1
Age: 30 Count - 1
Age: 31 Count - 3
Age: 32 Count - 1
Age: 33 Count - 1
Age: 34 Count - 2
Age: 35 Count - 3
Age: 36 Count - 3
Age: 37 Count - 1
Age: 39 Count - 2
Age: 40 Count - 1
Age: 42 Count - 1
Age: 44 Count - 2
Age: 48 Count - 2
Age: 49 Count - 1
Age: 50 Count - 1
Age: 51 Count - 2
Age: 52 Count - 2
Age: 53 Count - 2
Age: 54 Count - 2
Age: 58 Count - 1
Age: 59 Count - 1
Age: 60 Count - 1
Age: 61 Count - 1
Age: 62 Count - 2
Age: 63 Count - 1
Age: 65 Count - 2
Age: 66 Count - 2
Age: 67 Count - 1
Age: 68 Count - 3
Age: 69 Count - 1
Age: 70 Count - 1
Age: 71 Count - 4
Age: 72 Count - 1
Age: 73 Count - 5
Age: 74 Count - 3

In [6]:
#Find the age group with maximum number of people using ORDER BY
for people, age in cursor.execute("SELECT count(*), age FROM persons GROUP BY age ORDER BY count(*) DESC"):
    print("Age:", age,"Count -", people)

Age: 73 Count - 5
Age: 71 Count - 4
Age: 14 Count - 4
Age: 74 Count - 3
Age: 68 Count - 3
Age: 36 Count - 3
Age: 35 Count - 3
Age: 31 Count - 3
Age: 24 Count - 3
Age: 22 Count - 3
Age: 18 Count - 3
Age: 12 Count - 3
Age: 8 Count - 3
Age: 66 Count - 2
Age: 65 Count - 2
Age: 62 Count - 2
Age: 54 Count - 2
Age: 53 Count - 2
Age: 52 Count - 2
Age: 51 Count - 2
Age: 48 Count - 2
Age: 44 Count - 2
Age: 39 Count - 2
Age: 34 Count - 2
Age: 25 Count - 2
Age: 23 Count - 2
Age: 17 Count - 2
Age: 16 Count - 2
Age: 11 Count - 2
Age: 5 Count - 2
Age: 72 Count - 1
Age: 70 Count - 1
Age: 69 Count - 1
Age: 67 Count - 1
Age: 63 Count - 1
Age: 61 Count - 1
Age: 60 Count - 1
Age: 59 Count - 1
Age: 58 Count - 1
Age: 50 Count - 1
Age: 49 Count - 1
Age: 42 Count - 1
Age: 40 Count - 1
Age: 37 Count - 1
Age: 33 Count - 1
Age: 32 Count - 1
Age: 30 Count - 1
Age: 27 Count - 1
Age: 19 Count - 1
Age: 13 Count - 1
Age: 9 Count - 1
Age: 7 Count - 1
Age: 6 Count - 1

In [7]:
#Find the names of people missing last names
for name in cursor.execute('SELECT first_name FROM persons WHERE last_name is null'):
    print("First Name:", name[0])

First Name: Erica
First Name: Jordi
First Name: Chasity
First Name: Gregg
First Name: Cary
First Name: Francisca
First Name: Raleigh
First Name: Maria
First Name: Mariane
First Name: Mona
First Name: Kayla
First Name: Karlie
First Name: Morris
First Name: Sandy
First Name: Hector
First Name: Hiram
First Name: Tressa
First Name: Berry
First Name: Pearline
First Name: Maynard
First Name: Dorian
First Name: Mylene
First Name: Lafayette
First Name: Tara
First Name: Destiny
First Name: Lesly
First Name: Perry
First Name: Maritza
First Name: Grant
First Name: Laury
First Name: Name
First Name: Estefania
First Name: Destiney
First Name: Jaquelin
First Name: Alfonzo
First Name: Lisandro
First Name: Priscilla
First Name: Elenora
First Name: Rudolph
First Name: Ona
First Name: Rebeca
First Name: Sigurd
First Name: Alice
First Name: Dane
First Name: Judge
First Name: Allene
First Name: Jalen
First Name: Myron
First Name: Travon
First Name: Shayna
First Name: Myah
First Name: Letha
First Name: Felton
First Name: London
First Name: Koby
First Name: Golden
First Name: Anissa
First Name: Sid
First Name: Ernesto
First Name: Josianne

In [8]:
#Find number of people with more than one pet
for owner_id in cursor.execute('SELECT count (*) FROM (SELECT count (owner_ID) FROM pets GROUP BY owner_ID HAVING count(owner_ID) > 1)'):
    print("Number of owners with more than 1 pet:", owner_id[0])

Number of owners with more than 1 pet: 43

In [9]:
#Find the number of pets who have received treatment
for pet in cursor.execute("SELECT count(*) FROM pets WHERE treatment_done = 1"):
    print("Pets that have received treatment:", pet[0])

Pets that have received treatment: 36

In [10]:
#Find the number of pets who have received treatment and pet type is known
for pet in cursor.execute("SELECT count(*) FROM pets WHERE treatment_done = 1 AND pet_type IS NOT null"):
    print("Treatment Done and Pet type known:", pet[0])

Treatment Done and Pet type known: 16

In [11]:
#Find the number of pets in East Port
for pet in cursor.execute('SELECT count(*) from pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city = "east port"'):
    print("Pets in East Port:", pet[0])

Pets in East Port: 49

In [12]:
#Find the number of pets in East Port who have received treatment
for pet in cursor.execute('SELECT count(*) from pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city = "east port" AND treatment_done = 1'):
    print("Pet in East Port and treatment done:", pet[0])

Pet in East Port and treatment done: 11

In [13]:
#close connection
conn.close()